<template>
  <div class="player">
    <div class="container">
      <div class="row">
        <form action="#" @submit.prevent="onSubmit" method="post" class="col-sm-8 offset-sm-2" v-if="player">
          <div class="form-group row">
            <label for="photo" class="col-sm-2 col-form-label">Photo</label>
            <input type="file" @change="onFileChange">
          </div>

          <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <input required v-model="player.name" type="text" name="name" id="name" class="form-control col-sm-8 offset-sm-2"
              placeholder="Name...">
          </div>

          <div class="form-group row">
            <label for="birthday" class="col-sm-2 col-form-label">Birthday</label>
            <input required v-model="player.birthday" type="text" name="birthday" id="birthday" class="form-control col-sm-8 offset-sm-2"
              placeholder="Birthday...">
          </div>

          <div class="form-group row">
            <label for="country" class="col-sm-2 col-form-label">Country</label>
            <input required v-model="player.country" type="text" name="country" id="country" class="form-control col-sm-8 offset-sm-2"
              placeholder="Country...">
          </div>

          <div class="form-group row">
            <label for="team" class="col-sm-2 col-form-label">Team</label>
            <v-select v-model="player.team" class="col-sm-8" :options="this.teams"></v-select>
          </div>

          <div class="form-group row">
            <label for="bio" class="col-sm-2 col-form-label">Bio</label>
            <textarea required v-model="player.bio" type="text" name="bio" id="bio" class="form-control col-sm-8 offset-sm-2"
              placeholder="Bio..."></textarea>
          </div>

          <div class="form-group row justify-content-end">
            <input class="btn btn-primary" type="submit">
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import router from "../../router";

export default {
  mounted() {
    const url = `${process.env.VUE_APP_ROOT_API}/teams/`;

    axios
      .get(url)
      .then(response => {
        const { data } = response.data;

        data.forEach((value, key) => {
          this.teams.push({
            label: data[key].name,
            value: data[key]._id,
          });
        });
      })

      .catch(error => {
        const { status } = error.response;
        status === 404 && router.push({ name: "404" });
      });
  },
  data() {
    return {
      player: {},
      teams: [],
    };
  },
  methods: {
    onFileChange(event) {
      this.player.photo = event.target.files[0];
    },
    onSubmit(event, data) {
      const url = `${process.env.VUE_APP_ROOT_API}/players/`;

      const { photo, name, bio, birthday, country, team } = this.player;

      let formData = new FormData();
      formData.append("name", name);
      formData.append("bio", bio);
      formData.append("country", country);
      formData.append("birthday", birthday);
      formData.append("team", team.value);
      formData.append("photo", photo);

      axios
        .post(url, formData)
        .then(response => {
          if (response.status === 201) {
            router.push({ name: "players-all" });
          }
        })
        .catch(error => {
          const { status } = error.response;
          status === 404 && alert(`We couldn't find this record in database!`);
        });
    },
  },
  name: "player-create",
};
</script>
