<template>
  <div class="row single--player--row">
    <div class="col-sm-4 player--cover">
      <router-link :to="{ name: 'player-details', params: { slug: player.slug } }">
        <img class="player--cover__img" :src="player.photo" :alt="player.name">
      </router-link>
    </div>
    <div class="col-sm-7 player--description">
      <router-link :to="{ name: 'player-details', params: { slug: player.slug } }">
        <h2>{{player.name}}</h2>
      </router-link>
      <p v-if="player.team">Team: <router-link :to="{ name: 'team-details', params: {slug: player.team.slug}}">{{player.team.name}}</router-link></p>
      <p class="text-left">{{player.bio}}</p>
    </div>
    <div class="col-sm-1 player--control">
      <div class="btn-group-vertical" role="group">
        <router-link :to="{ name: 'player-edit', params: { slug: player.slug } }" class="btn btn-primary">Edit</router-link>
        <button @click.prevent="removePlayer(player, index)" type="button" class="btn btn-danger">Remove</button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  methods: {
    removePlayer(btn, index) {
      const url = `${process.env.VUE_APP_ROOT_API}/players/${btn.slug}`;

      if (confirm("You sure to remove this player?")) {
        axios
          .delete(url)
          .then(response => {
            this.players.splice(index, 1);
          })
          .catch(error => {
            const { status } = error.response;
            status === 404 && router.push({ path: "/404" });
          });
      }
    },
  },
  name: "player-single",
  props: ["players", "player", "index"],
};
</script>

<style>
.single--player--row {
  margin-bottom: 50px;
}

.player--cover {
  align-self: center;
}

.player--cover__img {
  max-height: 200px;
}
</style>
