<template>
  <div class="players">
    <div class="container">
      <div class="row">
        <div class="col">
          <SearchBox v-bind:columns="['name']" placeholder="Search for players..." v-bind:items="players" v-if="players" />
        </div>
      </div>
      <div v-if="players" v-for="(player, index) in players" :key="player.id">
        <DisplaySingle v-if="player.visiable" v-bind:index="index" v-bind:player="player" v-bind:players="players" />
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import router from "../../router";
import SearchBox from "../SearchBox.vue";
import DisplaySingle from "./DisplaySingle.vue";

export default {
  mounted() {
    const url = `${process.env.VUE_APP_ROOT_API}/players`;

    axios
      .get(url)
      .then(response => {
        let { data } = response.data;

        /**
         * Add visiable parameter to each record pulled from database
         *
         * Will be used by searchbox to hide unmatching elements. By default everything should be visiable.
         */
        data.forEach(element => {
          element.visiable = true;
        });

        this.players = data;
      })
      .catch(error => {
        if (error.response) {
          const { status } = error.response;
          status === 404 &&
            router.push({
              name: "404",
            });
        }
      });
  },
  data() {
    return {
      players: {},
    };
  },
  components: {
    SearchBox,
    DisplaySingle,
  },

  name: "players-all",
};
</script>

<style>
.cover {
  max-width: 100px;
}
</style>