<template>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <img class="player--photo" :src="player.photo" :alt="player.name">
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <h1>{{player.name}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col col--bio">
        <p>{{player.bio}}</p>
      </div>
    </div>
    <div class="row team">
      <div class="col-md-4">
        <img class="img-fluid" :src="player.team.logo" :alt="player.team.name">
      </div>

      <div class="col-md-8">
        <router-link :to="{name: 'team-details', params: { slug: player.team.slug }}">
          <h2>{{ player.team.name }}</h2>
        </router-link>

        <p class="col--bio">{{ player.team.bio }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col text-right">
        <div class="btn-group" role="group">
          <router-link :to="{ name: 'player-edit', params: { slug: player.slug } }" class="btn btn-primary">Edit</router-link>
          <button @click.prevent="remove(player, index)" type="button" class="btn btn-danger">Remove</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import router from "../../router";

export default {
  mounted() {
    const url = `${process.env.VUE_APP_ROOT_API}/players/${
      this.$route.params.slug
    }`;

    axios.get(url).then(response => {
      const { data } = response.data;

      this.player = data;
    });
  },
  data() {
    return {
      player: {
        team: {},
      },
    };
  },
  methods: {
    remove(btn, index) {
      const url = `${process.env.VUE_APP_ROOT_API}/players/${btn.slug}`;

      if (confirm("You sure to remove this?")) {
        axios
          .delete(url)
          .then(response => {
            players.splice(index, 1);
          })
          .catch(error => {
            const { status } = error.response;
            status === 404 &&
              router.push({
                path: "/404",
              });
          });
      }
    },
  },
  name: "player-details",
};
</script>

<style lang="scss">
.player {
  &--photo {
    margin-bottom: 50px;
    max-width: 400px;
  }
}

.team {
  padding-top: 40px;
  padding-bottom: 40px;
}
</style>