<template>
  <div class="player">
    <div class="container">
      <div class="row">
        <div class="photo">
          <img :src="player.photo" class="player-photo" v-if="player.photo" alt="player.name" />
        </div>
        <form action="#" @submit.prevent="onSubmit" method="post" class="col-sm-8 offset-sm-2" v-if="player">
          <div class="form-group row">
            <label for="photo" class="col-sm-2 col-form-label">Photo</label>
            <input type="file" @change="onFileChange">
          </div>

          <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <input required v-model="player.name" type="text" name="name" id="name" class="form-control col-sm-8 offset-sm-2"
              placeholder="Name...">
          </div>

          <div class="form-group row">
            <label for="birthday" class="col-sm-2 col-form-label">Birthday</label>
            <input required v-model="player.birthday" type="text" name="birthday" id="birthday" class="form-control col-sm-8 offset-sm-2"
              placeholder="Birthday...">
          </div>

          <div class="form-group row">
            <label for="team" class="col-sm-2 col-form-label">Team</label>
            <v-select v-model="selected" :options="teams" class="col-sm-8"></v-select>
          </div>

          <div class="form-group row">
            <label for="country" class="col-sm-2 col-form-label">Country</label>
            <input required v-model="player.country" type="text" name="country" id="country" class="form-control col-sm-8 offset-sm-2"
              placeholder="Country...">
          </div>

          <div class="form-group row">
            <label for="bio" class="col-sm-2 col-form-label">Bio</label>
            <textarea required v-model="player.bio" type="text" name="bio" id="bio" class="form-control col-sm-8 offset-sm-2"
              placeholder="Bio..."></textarea>
          </div>

          <div class="form-group row justify-content-end">
            <input class="btn btn-primary" type="submit">
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import router from "../../router";

export default {
  mounted() {
    const playersUrl = `${process.env.VUE_APP_ROOT_API}/players/${
      this.$route.params.slug
    }`;

    const teamsUrl = `${process.env.VUE_APP_ROOT_API}/teams/`;

    axios.all([axios.get(playersUrl), axios.get(teamsUrl)]).then(
      axios.spread((playerData, teamsData) => {
        this.player = playerData.data.data;

        if (this.selected) {
          this.selected = this.player.team.name;
        }

        const { data } = teamsData.data;

        data.forEach((value, key) => {
          this.teams.push({
            label: data[key].name,
            value: data[key]._id,
          });
        });
      }),
    );
  },
  data() {
    return {
      player: {},
      teams: [],
      selected: null,
    };
  },
  methods: {
    onFileChange(event) {
      this.player.photoFile = event.target.files[0];
    },
    onSubmit(event, data) {
      const { slug } = this.$route.params;
      const url = `${process.env.VUE_APP_ROOT_API}/players/${slug}`;

      const {
        photo,
        name,
        bio,
        birthday,
        country,
        photoFile,
        team,
      } = this.player;

      let formData = new FormData();
      formData.append("name", name);
      formData.append("bio", bio);
      formData.append("country", country);
      formData.append("birthday", birthday);
      this.selected.value && formData.append("team", this.selected.value);
      photoFile && formData.append("photo", photoFile);

      axios
        .put(url, formData)
        .then(response => {
          router.push({
            name: "players-all",
            params: { slug: response.data.data.slug },
          });
        })
        .catch(error => {
          const { status } = error.response;
          status === 404 && alert(`We couldn't find this record in database!`);
        });
    },
  },
  name: "player-edit",
};
</script>

<style>
.photo {
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}
</style>
