<template>
    <div class="tournament">
        <div class="container">
			<div class="row">
				<form action="#" @submit.prevent="onSubmit" method="post" class="col-sm-8 offset-sm-2" v-if="tournament">
					<div class="form-group row">
						<label for="photo" class="col-sm-2 col-form-label">Photo</label>
						<input type="file" @change="onFileChange">
					</div>
					<div class="form-group row">
						<label for="name" class="col-sm-2 col-form-label">Name</label>
						<input required v-model="tournament.name" type="text" name="name" id="name" class="form-control col-sm-8 offset-sm-2" placeholder="Name...">
					</div>
          <div class="form-group row">
						<label for="date_start" class="col-sm-2 col-form-label">Start date</label>
						<input required v-model="tournament.date_start" type="text" name="date_start" id="date_start" class="form-control col-sm-8 offset-sm-2" placeholder="Start date...">
					</div>
					<div class="form-group row">
						<label for="date_end" class="col-sm-2 col-form-label">End date</label>
						<input required v-model="tournament.date_end" type="text" name="date_end" id="date_end" class="form-control col-sm-8 offset-sm-2" placeholder="End date...">
					</div>
					<div class="form-group row">
						<label for="bio" class="col-sm-2 col-form-label">Bio</label>
						<textarea required v-model="tournament.bio" type="text" name="bio" id="bio" class="form-control col-sm-8 offset-sm-2" placeholder="Bio..."></textarea>
					</div>
					<div class="form-group row justify-content-end">
						<input class="btn btn-primary" type="submit">
					</div>
				</form>
			</div>
		</div>
    </div>
</template>

<script>
import axios from "axios";
import router from "../../router";

export default {
  data() {
    return {
      tournament: {},
    };
  },
  methods: {
    onFileChange(event) {
      this.tournament.logo = event.target.files[0];
    },
    onSubmit(event, data) {
      const url = `${process.env.VUE_APP_ROOT_API}/tournaments/`;

      const { logo, name, bio, date_start, date_end } = this.tournament;

      let formData = new FormData();
      formData.append("logo", logo);
      formData.append("name", name);
      formData.append("bio", bio);
      formData.append("date_start", date_start);
      formData.append("date_end", date_end);

      axios
        .post(url, formData)
        .then(response => {
          if (response.status === 201) {
            router.push({ name: "tournaments-display" });
          }
        })
        .catch(error => {
          const { status } = error.response;
          status === 404 && alert(`We couldn't find this record in database!`);
        });
    },
  },
  name: "tournaments-create",
};
</script>
