<template>
  <div class="row single--tournament--row">
    <div class="col-sm-4 tournament--cover">
      <router-link :to="{ name: 'tournaments-display-single', params: { slug: tournament.slug } }">
        <img class="tournament--cover__img" :src="tournament.logo" :alt="tournament.name">
      </router-link>
    </div>
    <div class="col-sm-7 tournament--description">
      <router-link :to="{ name: 'tournaments-display-single', params: { slug: tournament.slug } }">
        <h2>{{tournament.name}}</h2>
      </router-link>

      <p class="text-left">{{tournament.bio}}</p>
    </div>
    <div class="col-sm-1 tournament--control">
      <div class="btn-group-vertical" role="group">
        <router-link :to="{ name: 'tournaments-edit', params: { slug: tournament.slug } }" class="btn btn-primary">Edit</router-link>
        <button @click.prevent="removeTournament(tournament, index)" type="button" class="btn btn-danger">Remove</button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  methods: {
    removeTournament(btn, index) {
      const url = `${process.env.VUE_APP_ROOT_API}/tournaments/${btn.slug}`;

      if (confirm("You sure to remove this tournament?")) {
        axios
          .delete(url)
          .then(response => {
            this.tournaments.splice(index, 1);
          })
          .catch(error => {
            const { status } = error.response;
            status === 404 &&
              router.push({
                name: "404"
              });
          });
      }
    }
  },
  name: "single-tournament",
  props: ["tournaments", "tournament", "index"]
};
</script>

<style>
.single--tournament--row {
  margin-bottom: 50px;
}

.tournament--cover {
  align-self: center;
}

.tournament--cover__img {
  max-width: 300px;
  max-height: 300px;
  width: 100%;
}
</style>
