<template>
    <div class="tournaments">
		<div class="container">
			<div class="row">
				<div class="col">
					<SearchBox v-bind:columns="['name']" placeholder="Search for tournaments..." v-bind:items="tournaments" v-if="tournaments"/>
				</div>
			</div>
			<div v-if="tournaments" v-for="(tournament, index) in tournaments" :key="tournament.id">
				<DisplaySingle v-if="tournament.visiable" v-bind:index="index" v-bind:tournament="tournament" v-bind:tournaments="tournaments"/>
			</div>
		</div>
    </div>
</template>

<script>
import axios from "axios";
import router from "../../router";
import SearchBox from "../SearchBox.vue";
import DisplaySingle from "./DisplaySingle.vue";

export default {
  mounted() {
    const url = `${process.env.VUE_APP_ROOT_API}/tournaments`;

    axios
      .get(url)
      .then(response => {
        let { data } = response.data;

        /**
         * Add visiable parameter to each record pulled from database
         *
         * Will be used by searchbox to hide unmatching elements. By default everything should be visiable.
         */
        data.forEach(element => {
          element.visiable = true;
        });

        this.tournaments = data;
      })
      .catch(error => {
        if (error.response) {
          const { status } = error.response;
          status === 404 && router.push({ name: "404" });
        }
      });
  },
  data() {
    return {
      tournaments: {}
    };
  },
  components: {
    SearchBox,
    DisplaySingle
  },

  name: "tournaments-display"
};
</script>

<style>
.cover {
  max-width: 100px;
}
</style>
