<template>
  <div class="tournament">
    <div class="container">
      <div class="row">
        <div class="photo">
          <img :src="tournament.logo" class="tournament-photo" v-if="tournament.logo" alt="tournament.name" />
        </div>
        <form action="#" @submit.prevent="onSubmit" method="post" class="col-sm-8 offset-sm-2" v-if="tournament">
          <div class="form-group row">
            <label for="photo" class="col-sm-2 col-form-label">Logo</label>
            <input type="file" @change="onFileChange">
          </div>
          <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <input required v-model="tournament.name" type="text" name="name" id="name" class="form-control col-sm-8 offset-sm-2"
              placeholder="Name...">
          </div>
          <div class="form-group row">
            <label for="date_start" class="col-sm-2 col-form-label">Start date</label>
            <input required v-model="tournament.date_start" type="text" name="date_start" id="date_start" class="form-control col-sm-8 offset-sm-2"
              placeholder="Start date...">
          </div>
          <div class="form-group row">
            <label for="date_end" class="col-sm-2 col-form-label">End Date</label>
            <input required v-model="tournament.date_end" type="text" name="date_end" id="date_end" class="form-control col-sm-8 offset-sm-2"
              placeholder="End date...">
          </div>
          <div class="form-group row">
            <label for="bio" class="col-sm-2 col-form-label">Bio</label>
            <textarea required v-model="tournament.bio" type="text" name="bio" id="bio" class="form-control col-sm-8 offset-sm-2"
              placeholder="Bio..."></textarea>
          </div>
          <div class="form-group row justify-content-end">
            <input class="btn btn-primary" type="submit">
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import router from "../../router";

export default {
  mounted() {
    const url = `${process.env.VUE_APP_ROOT_API}/tournaments/${
      this.$route.params.slug
    }`;

    axios
      .get(url)
      .then(response => {
        const { data } = response.data;
        console.log(data);
        this.tournament = data;
      })
      .catch(error => {
        const { status } = error.response;
        status === 404 && router.push({ name: "404" });
      });
  },
  data() {
    return {
      tournament: {},
    };
  },
  methods: {
    onFileChange(event) {
      this.tournament.photoFile = event.target.files[0];
    },
    onSubmit(event, data) {
      const { slug } = this.$route.params;
      const url = `${process.env.VUE_APP_ROOT_API}/tournaments/${slug}`;

      const {
        logo,
        name,
        bio,
        photoFile,
        date_start,
        date_end,
      } = this.tournament;

      let formData = new FormData();
      formData.append("name", name);
      formData.append("bio", bio);
      formData.append("date_start", date_start);
      formData.append("date_end", date_end);
      photoFile && formData.append("logo", photoFile);

      axios
        .put(url, formData)
        .then(response => {
          router.push({
            name: "tournaments-display",
            params: { slug: response.data.data.slug },
          });
        })
        .catch(error => {
          const { status } = error.response;
          status === 404 && alert(`We couldn't find this record in database!`);
        });
    },
  },
  name: "tournaments-edit",
};
</script>

<style>
.photo {
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}

.photo img {
  max-width: 200px;
}
</style>
