<template>
  <div class="match">
    <div class="container">
      <div class="row">
        <form action="#" @submit.prevent="onSubmit" method="post" class="col-sm-8 offset-sm-2" v-if="match">
          <div class="form-group row">
            <label for="team_1" class="col-sm-2 col-form-label">Team</label>
            <v-select v-model="match.team_1" class="col-sm-8" :options="this.teams"></v-select>
          </div>
          <div class="form-group row">
            <label for="team_2" class="col-sm-2 col-form-label">Team</label>
            <v-select v-model="match.team_2" class="col-sm-8" :options="this.teams"></v-select>
          </div>
          <div class="form-group row">
            <label for="date" class="col-sm-2 col-form-label">Date: </label>
            <input required v-model="match.date" type="text" name="date" id="date" class="form-control col-sm-8 offset-sm-2"
              placeholder="2018-08-08" />
          </div>
          <div class="form-group row">
            <label for="event" class="col-sm-2 col-form-label">Event: </label>
            <input v-model="match.event" type="text" name="event" id="event" class="form-control col-sm-8 offset-sm-2"
              placeholder="Event name..." />
          </div>
          <div class="form-group row justify-content-end">
            <input class="btn btn-primary" type="submit">
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import router from "../../router";

export default {
  mounted() {
    const url = `${process.env.VUE_APP_ROOT_API}/teams/`;

    axios
      .get(url)
      .then(response => {
        const { data } = response.data;

        data.forEach((value, key) => {
          this.teams.push({
            label: data[key].name,
            value: data[key]._id,
          });
        });
      })
      .catch(error => {
        const { status } = error.response;
        status === 404 && router.push({ name: "404" });
      });
  },
  data() {
    return {
      match: {},
      teams: [],
    };
  },
  methods: {
    onSubmit(event, data) {
      const url = `${process.env.VUE_APP_ROOT_API}/matches/`;

      axios
        .post(url, this.$data.match)
        .then(response => {
          if (response.status === 201) {
            router.push({
              name: "match-details",
              params: {
                slug: response.data.data.slug,
              },
            });
          }
        })
        .catch(error => {
          const { status } = error.response;
          status === 404 && alert(`We couldn't find this record in database!`);
        });
    },
  },
  name: "match-create",
};
</script>