<template>
  <div class="container">
    <div class="row single--match--row">

      <div class="col-3 tam--logo">
        <router-link :to="{ name: 'team-details', params: { slug: match.teams[0].slug } }">
          <img :src="match.teams[0].logo" :alt="match.teams[0].logo" class="match--team__logo">
        </router-link>
      </div>

      <div class="col-6 match--description">
        <h2>{{match.teams[0].name}} vs {{match.teams[1].name}}</h2>

        <p v-if="match.date">Date: {{match.date}}</p>
        <p v-if="match.event">Event: {{match.event}}</p>

        <div class="btn-group" role="group">
          <router-link :to="{ name: 'match-edit', params: { slug: match._id } }" class="btn btn-primary">Edit</router-link>
          <button @click.prevent="remove(match, index)" type="button" class="btn btn-danger">Remove</button>
        </div>
      </div>

      <div class="col-3 team--logo">
        <router-link :to="{ name: 'team-details', params: { slug: match.teams[1].slug } }">
          <img :src="match.teams[1].logo" :alt="match.teams[1].logo" class="match--team__logo">
        </router-link>
      </div>

    </div>
  </div>
</template>

<script>
import axios from "axios";
import router from "../../router";

export default {
  mounted() {
    const url = `${process.env.VUE_APP_ROOT_API}/matches/${
      this.$route.params.slug
    }`;

    axios.get(url).then(response => {
      const { data } = response.data;

      this.match = data;
    });
  },
  data() {
    return {
      match: {
        teams: [
          {
            slug: null,
            name: null,
            logo: null,
          },
          {
            slug: null,
            name: null,
            logo: null,
          },
        ],
      },
    };
  },
  methods: {
    remove(btn, index) {
      const url = `${process.env.VUE_APP_ROOT_API}/matches/${btn.slug}`;

      if (confirm("You sure to remove this match?")) {
        axios
          .delete(url)
          .then(response => {
            this.matches.splice(index, 1);
          })
          .catch(error => {
            const { status } = error.response;
            status === 404 &&
              router.push({
                path: "/404",
              });
          });
      }
    },
  },
  name: "match-details",
};
</script>

<style lang="scss">
.single--match--row {
  margin-bottom: 50px;
}

.match {
  &--team {
    &__logo {
      max-height: 200px;
    }
  }
}
</style>