<template>
  <div class="matches">
    <div class="container">
      <div class="row">
        <div class="col">
          <SearchBox v-bind:columns="['team_1', 'team_2']" placeholder="Search for matches..." v-bind:items="matches"
            v-if="matches" />
        </div>
      </div>
      <div v-if="matches" v-for="(match, index) in matches" :key="match.id">
        <DisplaySingle v-if="match.visiable" v-bind:index="index" v-bind:match="match" v-bind:matches="matches" />
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import router from "../../router";
import SearchBox from "../SearchBox.vue";
import DisplaySingle from "./DisplaySingle.vue";

export default {
  mounted() {
    const url = `${process.env.VUE_APP_ROOT_API}/matches`;

    axios
      .get(url)
      .then(response => {
        let { data } = response.data;

        /**
         * Add visiable parameter to each record pulled from database
         *
         * Will be used by searchbox to hide unmatching elements. By default everything should be visiable.
         */
        data.forEach(element => {
          element.visiable = true;
        });

        this.matches = data;
      })
      .catch(error => {
        if (error.response) {
          const { status } = error.response;
          status === 404 && router.push({ name: "404" });
        }
      });
  },
  data() {
    return {
      matches: {},
    };
  },
  components: {
    SearchBox,
    DisplaySingle,
  },

  name: "matches-all",
};
</script>
