<template>
  <div class="team">
    <div class="container">
      <div class="row">
        <form action="#" @submit.prevent="onSubmit" method="post" class="col-sm-8 offset-sm-2" v-if="team">
          <div class="form-group row">
            <label for="photo" class="col-sm-2 col-form-label">Photo</label>
            <input type="file" @change="onFileChange">
          </div>
          <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <input required v-model="team.name" type="text" name="name" id="name" class="form-control col-sm-8 offset-sm-2"
              placeholder="Name...">
          </div>
          <div class="form-group row">
            <label for="bio" class="col-sm-2 col-form-label">Bio</label>
            <textarea required v-model="team.bio" type="text" name="bio" id="bio" class="form-control col-sm-8 offset-sm-2"
              placeholder="Bio..."></textarea>
          </div>
          <div class="form-group row justify-content-end">
            <input class="btn btn-primary" type="submit">
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import router from "../../router";

export default {
  data() {
    return {
      team: {},
    };
  },
  methods: {
    onFileChange(event) {
      this.team.logo = event.target.files[0];
    },
    onSubmit(event, data) {
      const url = `${process.env.VUE_APP_ROOT_API}/teams/`;

      const { logo, name, bio } = this.team;

      let formData = new FormData();
      formData.append("logo", logo);
      formData.append("name", name);
      formData.append("bio", bio);

      axios
        .post(url, formData)
        .then(response => {
          if (response.status === 201) {
            router.push({ name: "teams-all" });
          }
        })
        .catch(error => {
          const { status } = error.response;
          status === 404 && alert(`We couldn't find this record in database!`);
        });
    },
  },
  name: "team-create",
};
</script>
