<template>
  <div class="row single--team--row">
    <div class="col-sm-4 team--cover">
      <router-link :to="{ name: 'team-details', params: { slug: team.slug } }">
        <img class="team--cover__img" :src="team.logo" :alt="team.name">
      </router-link>
    </div>
    <div class="col-sm-7 team--description">
      <router-link :to="{ name: 'team-details', params: { slug: team.slug } }">
        <h2>{{team.name}}</h2>
      </router-link>

      <p class="text-left">{{team.bio}}</p>
    </div>
    <div class="col-sm-1 team--control">
      <div class="btn-group-vertical" role="group">
        <router-link :to="{ name: 'team-edit', params: { slug: team.slug } }" class="btn btn-primary">Edit</router-link>
        <button @click.prevent="removeteam(team, index)" type="button" class="btn btn-danger">Remove</button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  methods: {
    removeteam(btn, index) {
      const url = `${process.env.VUE_APP_ROOT_API}/teams/${btn.slug}`;

      if (confirm("You sure to remove this team?")) {
        axios
          .delete(url)
          .then(response => {
            this.teams.splice(index, 1);
          })
          .catch(error => {
            const { status } = error.response;
            status === 404 && router.push({ path: "/404" });
          });
      }
    },
  },
  name: "team-single",
  props: ["teams", "team", "index"],
};
</script>

<style lang="scss">
.single--team--row {
  margin-bottom: 50px;
}

.team {
  &--cover {
    align-self: center;

    &__img {
      max-height: 200px;
    }
  }
}
</style>
