<template>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <img class="team--logo" :src="team.logo" :alt="team.name">
      </div>
    </div>

    <div class="row">
      <div class="col text-center">
        <h1>{{team.name}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col team--bio">
        <p>{{team.bio}}</p>
      </div>
    </div>

    <div class="row" v-if="team.players">
      <div class="card-group">
        <PlayerCard v-bind:team="team" v-bind:remove="true" v-for="(player, index) in team.players" :key="player.id" v-bind:index="index" v-bind:player="player"></PlayerCard>
      </div>
    </div>

    <div class="row">
      <div class="col text-right">
        <div class="btn-group pt-3 mb-5" role="group">
          <router-link :to="{ name: 'team-edit', params: { slug: team.slug } }" class="btn btn-primary">Edit</router-link>
          <button @click.prevent="remove(team)" type="button" class="btn btn-danger">Remove</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import router from "../../router";
import PlayerCard from "./PlayerCard";

export default {
  mounted() {
    const url = `${process.env.VUE_APP_ROOT_API}/teams/${
      this.$route.params.slug
    }`;

    axios.get(url).then(response => {
      const { data } = response.data;

      this.team = data;
    });
  },
  data() {
    return {
      team: {
        logo: "",
      },
    };
  },
  methods: {
    remove(btn) {
      const url = `${process.env.VUE_APP_ROOT_API}/teams/${btn.slug}`;

      if (confirm("You sure to remove this team?")) {
        axios
          .delete(url)
          .then(response => {
            router.push({
              name: "teams-all",
            });
          })
          .catch(error => {
            const { status } = error.response;
            status === 404 &&
              router.push({
                path: "/404",
              });
          });
      }
    },
  },
  name: "team-details",
  components: {
    PlayerCard,
  },
};
</script>

<style lang="scss">
.team {
  &--logo {
    margin-bottom: 50px;
    max-width: 400px;
  }

  &--bio {
    margin: 20px 0;
  }
}
</style>