<template>
  <div class="teams">
    <div class="container">
      <div class="row">
        <div class="col">
          <SearchBox v-bind:columns="['name']" placeholder="Search for teams..." v-bind:items="teams" v-if="teams" />
        </div>
      </div>
      <div v-if="teams" v-for="(team, index) in teams" :key="team.id">
        <DisplaySingle v-if="team.visiable" v-bind:index="index" v-bind:team="team" v-bind:teams="teams" />
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import router from "../../router";
import SearchBox from "../SearchBox.vue";
import DisplaySingle from "./DisplaySingle.vue";

export default {
  mounted() {
    const url = `${process.env.VUE_APP_ROOT_API}/teams`;

    axios
      .get(url)
      .then(response => {
        let { data } = response.data;

        /**
         * Add visiable parameter to each record pulled from database
         *
         * Will be used by searchbox to hide unmatching elements. By default everything should be visiable.
         */
        data.forEach(element => {
          element.visiable = true;
        });

        this.teams = data;
      })
      .catch(error => {
        if (error.response) {
          const { status } = error.response;
          status === 404 && router.push({ name: "404" });
        }
      });
  },
  data() {
    return {
      teams: {},
    };
  },
  components: {
    SearchBox,
    DisplaySingle,
  },

  name: "teams-all",
};
</script>

<style>
.cover {
  max-width: 100px;
}
</style>
