<template>
  <div class="team">
    <div class="container">
      <div class="row">
        <div class="photo">
          <img :src="team.logo" class="team-photo" v-if="team.logo" alt="team.name" />
        </div>

        <form action="#" @submit.prevent="onSubmit" method="post" class="col-sm-8 offset-sm-2" v-if="team">
          <div class="form-group row">
            <label for="photo" class="col-sm-2 col-form-label">Logo</label>
            <input type="file" @change="onFileChange">
          </div>
          <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <input required v-model="team.name" type="text" name="name" id="name" class="form-control col-sm-8 offset-sm-2"
              placeholder="Name...">
          </div>
          <div class="form-group row">
            <label for="bio" class="col-sm-2 col-form-label">Bio</label>
            <textarea required v-model="team.bio" type="text" name="bio" id="bio" class="form-control col-sm-8 offset-sm-2"
              placeholder="Bio..."></textarea>
          </div>
          <div class="form-group row justify-content-end">
            <input class="btn btn-primary" type="submit">
          </div>
        </form>
      </div>

      <div class="row" v-if="team.players">
        <div class="card-group">
          <PlayerCard v-bind:team="team" v-bind:remove="true" v-for="(player, index) in team.players" :key="player.id" v-bind:index="index" v-bind:player="player"></PlayerCard>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import router from "../../router";
import PlayerCard from "./PlayerCard";

export default {
  mounted() {
    const url = `${process.env.VUE_APP_ROOT_API}/teams/${
      this.$route.params.slug
    }`;

    axios
      .get(url)
      .then(response => {
        const { data } = response.data;

        this.team = data;
      })
      .catch(error => {
        const { status } = error.response;
        status === 404 && router.push({ name: "404" });
      });
  },
  data() {
    return {
      team: {},
    };
  },
  methods: {
    onFileChange(event) {
      this.team.photoFile = event.target.files[0];
    },
    onSubmit(event, data) {
      const { slug } = this.$route.params;
      const url = `${process.env.VUE_APP_ROOT_API}/teams/${slug}`;

      const { logo, name, bio, photoFile } = this.team;

      let formData = new FormData();
      formData.append("name", name);
      formData.append("bio", bio);
      photoFile && formData.append("logo", photoFile);

      axios
        .put(url, formData)
        .then(response => {
          router.push({
            name: "teams-all",
            params: { slug: response.data.data.slug },
          });
        })
        .catch(error => {
          const { status } = error.response;
          status === 404 && alert(`We couldn't find this record in database!`);
        });
    },
  },
  name: "team-edit",
  components: {
    PlayerCard,
  },
};
</script>

<style>
.photo {
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}

.photo img {
  max-width: 200px;
}
</style>
