<template>
  <div class="card" style="width: 18rem;">
    <router-link :to="{ name: 'player-details', params: { slug: player.slug } }">
      <img class="card-img-top" :src="player.photo" :alt="player.name">
    </router-link>

    <div class="card-body">
      <h5 class="card-title">{{ player.name }}</h5>
      <p class="card-text">{{ player.bio }}</p>

      <div class="btn-group">
        <router-link :to="{ name: 'player-details', params: { slug: player.slug } }" class="btn btn-primary">
        Read More
        </router-link>

        <button v-if="this.remove" @click.prevent="removePlayer" class="btn-danger">Remove</button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  methods: {
    removePlayer() {
      const { slug } = this.$route.params;
      const url = `${process.env.VUE_APP_ROOT_API}/players/${this.player.slug}`;
      this.player.removeTeam = true;

      const {
        photo,
        name,
        bio,
        birthday,
        country,
        photoFile,
        team,
      } = this.player;

      let formData = new FormData();
      formData.append("name", name);
      formData.append("bio", bio);
      formData.append("country", country);
      formData.append("birthday", birthday);
      formData.append("team", team);
      formData.append("removeTeam", true);

      axios
        .put(url, formData)
        .then(response => {
          const index = this.team.players.indexOf(this.player._id);
          this.team.players.splice(index, 1);
        })
        .catch(error => {
          const { status } = error.response;
          status === 404 && alert(`We couldn't find this record in database!`);
        });
    },
  },
  name: "team-player-card",
  props: ["player", "remove", "team", "index"],
};
</script>

<style lang="scss" scoped>
.card {
  &-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
</style>
