<template>
  <input type="text" @keyup="search" class="form-control global-search" name="searchbox" :placeholder="placeholder">
</template>

<script>
export default {
  methods: {
    search(event) {
      const { value } = event.target;
      const { columns, items } = this;

      items.forEach((item, index) => {
        let el = Object.entries(item);
        let visiable = false;

        el.forEach(element => {
          if (!visiable) {
            if (columns.includes(element[0])) {
              if (!this.checkIfMatch(element[1], value)) {
                item.visiable = false;
              } else {
                item.visiable = true;
                visiable = true;
              }
            }
          }
        });
      });
    },
    checkIfMatch(element, value) {
      if (element.toLowerCase().indexOf(value.toLowerCase()) > -1) {
        return true;
      } else {
        return false;
      }
    }
  },
  name: "SearchBox",
  props: ["items", "columns", "placeholder"]
};
</script>

<style>
.global-search {
  margin-bottom: 25px;
}
</style>
