<template>
  <div id="app">
    <div id="nav">
      <router-link to="/players">Players</router-link> |
      <router-link to="/players/create">Create a player</router-link> |
      <router-link to="/teams">Teams</router-link> |
      <router-link to="/teams/create">Create a team</router-link> |
      <router-link to="/matches">Matches</router-link> |
      <router-link to="/matches/create">Create new match</router-link> |
      <router-link to="/tournaments">Tournaments</router-link> |
      <router-link to="/tournaments/create">Create Tournament</router-link>
    </div>
    <router-view/>
  </div>
</template>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
#bio {
  min-height: 50vh;
}
</style>
